div.town_info_window {
  span.title {
    font-weight:bold;
  }
}

#box, #box_menu {
  bottom:25px;
  position:absolute;
  padding:10px;
  background-color:white;
  border:2px solid #d00;
}

#box_menu {
  right:25px;
  ul {
    margin:0px;
    padding:0px;
    li {
      list-style-type:none;
      float:left;
      margin:0px;
      padding:0px;
      a {
        font-weight:normal;
      }
    }
    li+li {
      margin-left:8px;
      border-left:1px solid black;
      padding-left:8px;
    }
  }
}

#box {
  left:25px;
  h1 {
    font-size:12px;
    font-weight:bold;
    margin:0px;
    color:red;
    padding-bottom:5px;
  }
  h2 {
    font-size:11px;
    font-weight:bold;
    margin:0px;
    padding-bottom:5px;
  }
  p {
    margin:0px;
    margin-bottom:8px;
  }
}