#wrapper {
  width:980px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  overflow: auto;
}

#header {
  width: 980px;
  padding-bottom:20px;
}

#menu {
  width:200px;
  float:left;
  ul {
    margin:0px;
    padding:0px;
    list-style-type:none;
    li {
      padding-bottom:0.5em;
    }
  }
}

#content {
  width: 780px;
  float:left;
}

h1, h2, h3 {
  padding-top:0px;
  margin-top:0px;
}

h1 {
  font-size:16px;
  font-weight:bold;
}

h2 {
  font-size:14px;
  font-weight:bold;
}

h3 {
  font-size:11px;
  font-weight:bold;
}

div + h1, div + h2, div + h3 {
  margin-top: 1em
}

p + p {
  margin-top: 8px;
}

