%p Urboretum je jednoduchá aplikace, která vás inspiruje k návštěvě všech 427 měst české země a poslouží jako praktický a automatizovaný záznamník vašeho putování.

%h2 Jak urboretum funguje?

%p
  Stačí cestovat po českých městech a při každé návštěvě vyfotit někde ve městě fotku službou
  "instagram":http://instagram.com a přiřadit jí do popisku hashtag
  %tt #instagram
  #{'.'} Na webu urboreta se pak jednoduše přes svůj instagramový účet a všechno ostatní už se provede docela samo. Na mapě se pak města s fotkami označí jako navštívená. Co dál? Hurá na vlak nebo do sedla a můžete se vydat za dalším objevným dobrodružstvím...

%h2 K čemu to je?

%p Projekt vznikl jako motivační a záznamová pomůcka k návštěvě všech českých měst (tedy obcí, které mají status města, a leží na území historické země Čechy). Záměr navštívit všechna města vznikl na základě šokujícího zjištění, že i ti, kdo si o sobě myslí, že Čechy znají, tak docela všude nebyli (vlastně skoro nikde). No a od toho byl už jen krůček k veřejné službě pro všechny zvídavé cestovatele.

%h2 Nejde to bez instagramu?

%p Zatím ne. Nepřišli jsme na lepší způsob, jak města zaznamenávat; instagram nabízí pohodlné a praktické řešení -- stahovat obrázky z foťáku nebo telefonu a nahrávat je na web je podle nás prostě otrava. Dobré nápady na alternativní způsoby záznamu si samozřejmě rádi vyslechneme.

%h2 Ale tam už jsem byl...

%p Kromě "opravdických" záznamů je možné město označit jako "kdysi navštívené". Na mapě se pak označí světlemodře a umožní tak uživatelům soustředit se na ta města, ve kterých opravdu nikdy nebyli.

%h2 Chci se pochlubit!

%p Chtěli byste třeba, aby urboretum automaticky publikovalo vaše návštěvy a statistiky na Facebooku nebo na Google+? Napište nám, jak byste si takovou službu představovali a rádi ji v případě většího zájmu zprovozníme.

%h2 Mám nápad nebo připomínku

%p Pokud něco nefunguje, jak by mělo, nebo pokud máte dobrý nápad na vylepšení urboreta, neváhejte a napište na mail urboretum@zemezamyslena.cz.